@charset "UTF-8";

/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* add your custom css here */
body {
	font-family: helvetica;
	font-weight: lighter;
}

h1 {
	display: block;
	margin: 20px;
	font-size: 40px;
}

aside {
	display: block;
	margin: 20px;
	font-size: 20px;
}

main {
	display: block;
	margin: auto;
	width: 95%;
	height: 90%;
}

div {
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 20px;
}

#red {
	background-color: red;
}

#yellow {
	background-color: yellow;
}

#blue {
	background-color: blue;
}

#black {
	background-color: black;
}

#white {
	border: 1px solid gray;
}

section {
	position: absolute;
	padding: 20px;
	height: 150px;
	width: 180px;
	margin-top: 75px;
	border: 1px solid gray;
}

#colors {
	background-color: white;
	opacity: 1;
}

h2 {
	display: none;
}

input {
	position: absolute;
	top: 450px;
}

footer {
	position: fixed;
	bottom: 0%;
	left: 15px;
	display: block;
	margin: 20px;
}

li {
	display: inline;
}

a {
	margin-left: 15px;
	margin-right: 15px;
	color: black;
	font-size: 15px;
	text-decoration: none;
}
