body {
  background-color: #d3ebee;
  font-family: helvetica;
  color: #305459;
}

header {
  background-color: #305459;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 30px;
}

h1 {
  color: #d3ebee;
  font-size: 20px;
  margin-left: 38%;
  margin-top: 5px;
}

main {
  width: 700px;
  margin: auto;
}

article {
  width: 600px;
  padding: 20px;
  margin: 40px;
  background-color: #91bdc3;
}

p {
    font-size: 15px;
    color: #305459;
}

figure {
  padding-top: 30px;
  padding-bottom: 30px;
}

ol li {
  margin-bottom: 10px;
}

#erin {
  margin: 50px;
}

a {
  text-decoration: underline;
  color: #305459;
}
