body {
  background-color: #d3ebee;
  font-family: helvetica;
}

header {
  background-color: #305459;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 50px;
  z-index: 1;
}

h1 {
  font-size: 35px;
  color: #d3ebee;
  margin-left: 38%;
  margin-top: 5px;
}

article {
  position: relative;
  background-color: #91bdc3;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 800px;
}

h2, h3 {
  color: #305459;
  position: absolute;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  top: 10px;
  left: 20px;
}

h3 {
  font-size: 16px;
  top: 14px;
  right: 20px;
}

p {
  font-size: 15px;
  color: #305459;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 475px;
  display: inline-block;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
}

img {
  display: inline-block;
  position: absolute;
  top: 60px;
  right: 20px;
}

footer {
  background-color: #386b73;
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: 30px;
}

div {
  width: 425px;
  margin: auto;
}

h4 {
  display: inline;
  margin-right: 30px;
}

h4 a {
  font-size: 15px;
  color: #d3ebee;
  margin-top: -10px;
  padding-top: 0px;
  text-decoration: none;
}
