/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Website style */

body {
  background-color: #36373d;
  color: #a4d8c3;
  font-family: 'Signika Negative', sans-serif;
}

h1 {
  font-size: 60px;
  padding-top: 25px;
  text-align: center;
  color: #b6a3ce;
  font-family: 'Handlee', cursive;
}

h2 {
  margin-top: -5px;
  font-size: 31px;
  text-align: center;
}

#about {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 110px;
  text-align: center;
  color: #b6a3ce;
  width: 60%;
  padding: 20px 20% 20px 20%;
}

section {
  display: inline-block;
  width: 40%;
  height: 200px;
  margin: -2px;
  padding: 5%;
  color: #36373d;
}

#first {
  background-color: #b6a3ce;
}

#second {
  background-color: #a4d8c3;
  padding-right: 5.3%;
}

h4 {
  font-size: 30px;
  padding-bottom: 10px;
  text-align: center;
  color: #36373d;
  font-family: 'Handlee', cursive;
}

section p {
  text-align: center;
  font-size: 15px;
  height: 150px;
}

nav {
  margin-top: 200px;
  margin-bottom: 100px;
}

h5 {
  text-align: center;
  font-size: 25px;
  font-family: 'Handlee', cursive;
  margin-top: 100px;
}

ul {
  width: 50%;
  padding-left: 25%;
  text-align: center;
  margin-bottom: 30px;
}

li{
  display: inline-block;
  margin: 15px 5px 0px 5px;
}

a {
  font-size: 15px;
  color: #b6a3ce;
  text-decoration: none;
}

a:hover {
  color: #9989ad;
}

footer {
  text-align: center;
}

footer a {
  margin: 75px 35px 30px 35px;
  padding-bottom: 15px;
}
